body
{
    background-color: antiquewhite;
}
/*bg-img styling */

.intro-bg {
  width: 400px;
  height: 400px;
  margin: 80px auto;
}

.image_full {
  display: block;
}
.image_mobile {
  display: none;
}

/* top container styling */
.top-container {
  color: #ffffff;
  margin-bottom: 32px;
  background-color: #000032;
  padding: 32px 0;
}

.top-container h1 {
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  font-size: 48px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: transparent;
  margin-top: 80px;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  50% {
    letter-spacing: 50%;
  }

  80% {
    letter-spacing: 5px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 2px #fff;
  }
}
/* navbar styling */
.nav1 {
  transition: 1000ms ease;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px 40px;
}

.scrolled {
  background-color: #000032;
}

.nav2 {
  transition: 1000ms ease;
  padding: 0px 40px;
  background-color: #000032;
}

.logo-div {
  display: flex;
  flex-direction: row;
}

.logo-div img {
  width: 55px;
  height: 55px;
  margin: 10px 5px 0;
}
.brand1 {
  transition: 800ms ease;
  opacity: 1;
  margin: 0;
  font-family: 'Gugi', cursive;
  color: #fff !important;
  font-size: 48px;
}

.brand2 {
  transition: 800ms ease;
  opacity: 1;
  margin: 0;
  font-family: 'Gugi', cursive;
  color: #fff !important;
  font-size: 48px;
}

.brand1-size {
  opacity: 1 !important;
  font-size: 40px;
  transition-duration: 1.5s;
}

.brand2-size {
  opacity: 1 !important;
  font-size: 40px;
  transition-duration: 1.5s;
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.navbar_dark {
  background-color: #000032 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  width: 50px !important;
  height: 50px !important;
  color: #000;
}

/*academic card styling */
#Academic Credentials-heading {}

.card {
  transition: 0.3s ease;
  transform: scale(0.8);
  box-shadow: 1px 1px 5px 0.1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 100px;;
}

.card:hover {
  box-shadow: 0.4px 0.4px 5px 4px rgba(0, 0, 0, 0.5);
}

.card-title a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
}

.card-title {
  width: 30%;
  background-color: #000032;
  text-decoration-color: white;
  padding: 80px 10px;
  margin: 0 auto;
}ss
.card-content {
  width: 40%;
  padding: 32px 64px 32px;
  color: #000000;
  background-color: #ffffff;
}

.card-content p {
  text-align : inherit;
  padding: 60px 0;
  padding-bottom: 0px;
}

.card-img {
  width: 300px;
  height: 300px;
  padding-left: 10px;
}
.card-img img {
  width: 100%;
  height: 100%;
}
/* footer styling */
footer {
  display: flex;
  flex-direction: row;
  background-color: #000032;
  color: #000032;
  position : fixed;
    bottom: 0px;
    right: 0px;
    left : 0px;
}

footer hr {
  background-color: #ADD8E6;
}

.footer-center {
  width: 100%;
  text-align: center;
}

.footer-center i {
  color: #fff;
  
  margin: 10px 20px 20px;
}

.footer-center i:hover {
  color: #90EE90;
}

.footer-center p {
  font-size: 12px;
  margin: 0;
  color: #fff;
  text-align: center !important;
}

#contact {
  font-size: 16px;
  margin: 10px 0 0;
}

#contact a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#contact a:hover {
  color: #90EE90;
}

h2{color:white;}
h3{color: #000032;
   font-size: 20px;
    text-align: center;
}
h4{
    /*padding-top: 60px;*/
    font-display: block;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 1px #000032;
    font-weight: bolder;
    @keyframes reveal {
  50% {
    letter-spacing: 50%;
  }

  80% {
    letter-spacing: 5px;
  }

  100% {
    background-size: 300% 300%;
  }
}
}
p {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    font-family: sans-serif;
}
h5{
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    font-family: sans-serif;
    margin : 100px auto 0px;
    color: darkblue;
    animation: reveal 3000ms ease-in-out forwards 200ms,glow 2500ms linear infinite 2000ms;
}
